/*Color Palette
#596979 Cool Grey
#a5a5a5 Light Grey
#0292cf Blue
#69c6ee Sky Blue
#ffffff White
*/


/* Global styles
-------------------------*/

body {
	background: grey;
	
}
a {
	color: #69c6ee;
}
a:hover {
	text-decoration: none;
}


/* Header and Footer
-------------------------*/
header, footer {
	background: #596979;
	color: #a5a5a5;
}
header h1, header h2 {
	color: black;
}


/* My Works
-------------------------*/
.work {
	background: #a5a5a5;
}

/* Education
-------------------------*/
.education {
	background: #0292cf
}

